@font-face {
    font-family: 'FacultyGlyphic';
    src: url('fonts/FacultyGlyphic-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'digital-7';
    src: url('fonts/digital-7.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #40819F;
    height: 100%;
    width: 100%;
}

header,#logo,footer{
    height: 60px;
}

header {
    width: 100%;
    background-color: #333954;
    color: white;
    display: flex; 
    padding-top: 10px;
    padding-bottom: 10px;
}

#logo{
    margin-left: 10px;
}


#image-grid {
    
    margin:  auto;
    position: relative;
    width: 900px;
    height: 600px;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#image-grid div {
    cursor: pointer;
    transition: transform 0.3s ease, z-index 0.3s ease;
}

#image-grid div.enlarged {
    transform: scale(10);
    z-index: 10;
}

header>h1{
    margin: auto;
    color: #B2FCD4;
    outline-color: black;
    font-size: 30px;
    text-shadow: 2px 2px 4px black;
    font-family: "digital-7";
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333954;
    color: white;
    display: flex; 
    margin-top: auto;
}

footer > p {
    margin-top: auto;
    margin-bottom: auto;
    font-family: "FacultyGlyphic";
}